{%  extends 'studentBase.html.twig' %}

    {% block body %}
        <div class="container">
            <div class="page-inner">

                    <p class="fw-bold fs-3 mb-2"> Dashboard student</p>

            </div>
        </div>    
    {% endblock %}

